<mat-sidenav-container class="example-container">
  <!-- sidebar -->
  <mat-sidenav class="sidenav" mode="side" [(opened)]="opened" #snav>
    <mat-toolbar class="toolbar">
      <div class="logo">LOGO</div>
    </mat-toolbar>
    <ng-content select="[menu]"></ng-content>
  </mat-sidenav>

  <!-- hlavni obsah -->
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content select="[content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
