.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav {
    height: 100%;
    min-width: 260px;
    border: 0px;
    box-shadow: 0px 2px 4px -1px;
    border-radius: 0px;
}

.example-toolbar {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
}