.nav-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Zarovnání položek na levou stranu */
    margin: 16px;
}

.card-wrap {
    margin: 16px;
    padding: 16px;
    background-color: white;
}