<!-- <form #skillsForm="ngForm" (ngSubmit)="onSubmit(skillsForm)">
    <div *ngFor="let skill of skills; let i = index">
      <div ngModelGroup="{{i}}">
        <div>
          <label for="skillName{{i}}">Skill:</label>
          <input
            name="skillName"
            [(ngModel)]="skill.skillName"
            required
          />
        </div>
        <div>
          <label for="proficiency{{i}}">Proficiency:</label>
          <input
            name="proficiency"
            [(ngModel)]="skill.proficiency"
            required
          />
        </div>
        <button type="button" (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
    <button type="button" (click)="addSkill()">Add Skill</button>
    <button type="submit">Submit</button>
  </form>
   -->